<div id="title">
  <img src="images/profile.png">
</div>
{{#each userInfo}}
<div class="SM-profileImage"><img src="{{user.profile_picture}}" alt=""> </div>

<div class="SM-userName">
  <h1>{{this.user.username}}</h1>
</div>
{{/each}}
<div class = "bb-div">
      <div>
        <img src="{{userInfo.profile_picture}}" alt="" height = "250px" width = "250px"/>
      </div>

        <div class="" margin-bottom="10%">
          <h3>Username: {{userInfo.username}}</h3>
        </div>

        <div class="">
          <h3>Bio: {{userInfo.biography}}</h3>
        </div>

        <form class="" action="/profile" method="post">
          <input type="hidden" name="_id" value="{{userInfo._id}}">
          <div>
            <input type="text" name="username" value="" placeholder = "Update Username">
          </div>

          <div class="">
            <input type="text" name="biography" value="" placeholder = "Update User Bio">
          </div>

          <div class="">
            <button type="submit">Update</button>
          </div>
        </form>
</div>
